@import "compass/css3/transform";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "compass/css3/transition";

/* style for page
============================== */
@import "page";

/* style for progress barr
============================== */

$radius: 10px;
$color_cavity_border: #f7f7f7; 
$color_progress_border: #9AF351;

* {
	@include box-sizing(border-box);
}

.barr_size_big {
	width: 80%;
}
.barr_size_small {
	width: 40%;
}
div[class$='-barr__cavity'] {
	height: 10px;
	width: 100%;
	margin: 5px;
	background: #fff;
	border: 1px solid $color_cavity_border;
	border-top: 2px solid darken($color_cavity_border, 20%);
	@include border-radius($radius);
	@include single-box-shadow(rgba(0,0,0,0.05), 0, 0, 10px);
	position: relative;
}
div[class$='-barr__progress'] {
	height: 10px;
	width: 0;
	margin: -2px 0 0 -1px;
	border: 1px solid $color_progress_border;
	border-top: 2px solid lighten($color_progress_border, 10%);
	border-bottom: 1px solid darken($color_progress_border, 20%);
	border-radius: 10px;
	background: $color_progress_border; /* Old browsers */
	background: -moz-linear-gradient(top, $color_progress_border 0%, darken($color_progress_border, 20%) 50%, $color_progress_border 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color_progress_border), color-stop(50%,darken($color_progress_border, 20%)), color-stop(100%,$color_progress_border)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $color_progress_border 0%,darken($color_progress_border, 20%) 50%,$color_progress_border 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $color_progress_border 0%,darken($color_progress_border, 20%) 50%,$color_progress_border 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, $color_progress_border 0%,darken($color_progress_border, 20%) 50%,$color_progress_border 100%); /* IE10+ */
	background: linear-gradient(to bottom, $color_progress_border 0%,darken($color_progress_border, 20%) 50%,$color_progress_border 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color_progress_border', endColorstr='$color_progress_border',GradientType=0 ); /* IE6-9 */


}
div[class$='-barr__condition'] {
	width: 100%;
	height: 10px;
	font-size: 10px;
	font-weight: bold;
	position: absolute;
	top: -3px;
	z-index: 10;
	left: 47%;
}
